html, body {
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  height: 100px;
  top:0;
  left:0;
  width:500%;
}

.input-box {
  border: 5px solid #777777;
  border-radius: 30px;
  height: 50px;
  width: 50%;
  padding-left:10px;
  padding-right:10px;
  opacity: 0.7;
  font-size: 40px;
  text-align: left;
}

.flex-container {
  margin-top: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.flex-container > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

.article {
  background: #fdfbee;
}
div {
  position: relative;
  display: inline;
}
img.a {
  position: relative;
  left: 0;
  top: 0;
    z-index: 10;
}

img.b {
  position: relative;
  left: 0;
  top: 0;
}

header {background: #e44424;color:white;}
footer {background: #a2ab58;color:white;}
.recent {background:#67bcdb;}

@media all and (min-width: 768px) {
  .recent {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
  .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
  footer {-webkit-order:3;order:3;}
}
