html {
  background: url('http://arcollegeadvising.com/wp-content/uploads/2015/06/boise-state-campus-fall.jpg') no-repeat center center fixed;
}

html, body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.header {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 0px;
  opacity: 0.8;
}

.input-box {
  border: 5px solid #777777;
  border-radius: 30px;
  height: 50px;
  width: 60%;
  padding-left:10px;
  padding-right:10px;
  opacity: 0.7;
  font-size: 40px;
  text-align: left;
}

.flex-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
}

.flex-container > * {
  padding: 10px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

.article {
  color: white;
  vertical-align: middle;
}

.recent {
  border: 5px solid #777777;
  border-radius: 30px;
  opacity: 0.7;
  width: 15%;
}

div {
  position: relative;
  display: inline;
}

img.a {
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
}

#colored {
  width: 500px auto;
  position: absolute;
  background-color: black;
  right: 100px;
}

#bw {
  width: 500px auto;
  position: absolute;
  z-index: 1;
  background-color: red;
  right: 50px
}

header {background: #e44424;color:white;}
footer {background: #a2ab58;color:white;}
.recent {background:#ffffff;}

@media all and (min-width: 768px) {
  .recent {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
  .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
  footer {-webkit-order:3;order:3;}
}
