<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
<script type='text/javascript'></script>


<span id="colored">
<img src="static/Filter-Icons/festivals.png" align="left" class="b">
<img src="static/Filter-Icons/food.png" align="left" class="b">
<img src="static/Filter-Icons/livePerformances.png" align="left" class="b">
<img src="static/Filter-Icons/movies.png" align="left" class="b">
<img src="static/Filter-Icons/shopping.png" align="left" class="b">
<img src="static/Filter-Icons/sports.png" align="left" class="b">
</span>

<span id="bw">
  <img src="static/Filter-Icons/festivalsBW.png" align="left" class="a">
  <img src="static/Filter-Icons/foodBW.png" align="left" class="a">
  <img src="static/Filter-Icons/livePerformancesBW.png" align="left" class="a">
  <img src="static/Filter-Icons/moviesBW.png" align="left" class="a">
  <img src="static/Filter-Icons/shoppingBW.png" align="left" class="a">
  <img src="static/Filter-Icons/sportsBW.png" align="left" class="a">
</span>

<script src="GigaGuideScripts.js"></script>
