
<div class="constraint">
  <div id="colored">
    <img src="static/Filter-Icons/festivals.png" align="left" class="b" >
    <img src="static/Filter-Icons/food.png" align="left" class="b" >
    <img src="static/Filter-Icons/livePerformances.png" align="left" class="b" >
    <img src="static/Filter-Icons/movies.png" align="left" class="b" >
    <img src="static/Filter-Icons/shopping.png" align="left" class="b">
    <img src="static/Filter-Icons/sports.png" align="left" class="b" >
  </div>

  <div id="bw">
      <img src="static/Filter-Icons/festivalsBW.png" align="left" class="a" data-name=festivals>
      <img src="static/Filter-Icons/foodBW.png" align="left" class="a" data-name=food >
      <img src="static/Filter-Icons/livePerformancesBW.png" align="left" class="a" data-name=livePerformances >
      <img src="static/Filter-Icons/moviesBW.png" align="left" class="a" data-name=movies >
      <img src="static/Filter-Icons/shoppingBW.png" align="left" class="a" data-name=shopping >
      <img src="static/Filter-Icons/sportsBW.png" align="left" class="a" data-name=sports >
  </div>

  <form>
    <input id="filterSubmit" type="submit">
  </form>
</div>


<!-- THIS COMMENT IS AN EXAMPLE OF HOW TO USE THE INFO OF WHAT IS CLICKED AND WHAT IS NOT:::: $(this.data('name')) // check if clicked == true // if so add that name to array -->

<style>
#bw {
  position: relative;
}
#colored {
  position: absolute;
}
</style>
