<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <center>
  <h2><center>Where will you go next?</center></h2><br>
  <span>Select your filters and maximum radius from your campus and press submit.</span>
  <form method="post" action="/">
    <br>
    <input type="radio" name="radius" value="500" checked> 0.5 km <br>
    <input type="radio" name="radius" value="1000"> 1 km <br>
    <input type="radio" name="radius" value="2000"> 2 km <br><br>
    <!--<input type="hidden" name="movie_theater" id="movie_theater"></input>
    <input type="hidden" name="amusement_park" id="amu"></input>-->
    <input id="filterSubmit" type="submit">
  </form>
  </center>
</body>

</html>
