
<div class="constraint">
<!--
  <div id="colored">
    <img src="static/Filter-Icons/festivals.png" align="left" class="b" >
    <img src="static/Filter-Icons/food.png" align="left" class="b" >
    <img src="static/Filter-Icons/shopping.png" align="left" class="b">
    <img src="static/Filter-Icons/movies.png" align="left" class="b" >
    <img src="static/Filter-Icons/livePerformances.png" align="left" class="b">
    <img src="static/Filter-Icons/sports.png" align="left" class="b" >
  </div>
-->

  <div id="bw">
    <div id=festivals class="icons">
      <img src="static/Filter-Icons/festivalsBW.png" class="a" data-name=amusement_park>
    </div>
    <div id="food" class="icons">
      <img src="static/Filter-Icons/foodBW.png" align="left" class="a" data-name=restaurant >
    </div>
    <div id="shopping" class="icons">
      <img src="static/Filter-Icons/shoppingBW.png" align="left" class="a" data-name=clothing_store,shopping_mall >
    </div>
    <div id="movies" class="icons">
      <img src="static/Filter-Icons/moviesBW.png" align="left" class="a" data-name=movie_theater >
    </div>
    <div id="nightclub" class="icons">
      <img src="static/Filter-Icons/livePerformancesBW.png" align="left" class="a" data-name=night_club >
    </div>
    <div id="stadium" class="icons">
      <img src="static/Filter-Icons/sportsBW.png" align="left" class="a" data-name=stadium >
    </div>
  </div>
</div>


<!-- THIS COMMENT IS AN EXAMPLE OF HOW TO USE THE INFO OF WHAT IS CLICKED AND WHAT IS NOT:::: $(this.data('name')) // check if clicked == true // if so add that name to array -->

<style>
#bw {
  position: relative;
}
#colored {
  position: absolute;
}
</style>
