<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type='text/javascript' src="GigaGuideScripts.js"></script>
  <script>
  var jsCollegeList = {{ jsCollegeList }};
  </script>
  <title>GigaGuide</title>
</head>

<body>

  <header class="header">
    <h1><a href="/">GigaGuide</a></h1>
  </header>
<div class="flex-container">
    <aside class="recent">
      {{ recContent }}
    </aside>

  <article class="article">
    {{ content }}
  </article>
</div>
  <footer class="footer">
    <center><p> © 2016 404 Chill Not Found</p></center>
  </footer>

</body>

</html>
