<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--  <script type='text/javascript' src="GigaGuideScripts.js"></script>
  <script>
  var jsCollegeList = {{ jsCollegeList }};
</script> -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>

    #map {
      position: relative;
      top: 25px;
    }
  </style>
  <title>GigaGuide</title>
</head>

<body>

  <header class="header">
    <h1>GigaGuide</h1>
  </header>
<div class="flex-container">
    <aside class="recent">
      {{ recContent }}
    </aside>

  <article class="article">
    {{ content }}

  </article>
</div>
  <footer class="footer">
    <center><p> © 2016 404 Chill Not Found</p></center>
  </footer>

</body>

</html>
