<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <title>GigaGuide</title>
</head>

<body>

  <header class="header">
    <h1>GigaGuide</h1>
  </header>
<div class="flex-container">
    <aside class="recent">
      <h3>Recently Viewed Colleges:</h3>
    </aside>

  <article class="article">
    {{ content }}
  </article>
</div>
  <footer class="footer">
    <center><p> © 2016 404 Chill Not Found</p></center>
  </footer>

</body>

</html>
